.boardTable {
  height: 800px;
  margin: 30px auto;
  width: 800px;
  background-color: red;

}

.player{
  height: 100px;
  margin: 30px auto;
  width: 800px;
}

.cell-board {
  background-size: contain;
  box-sizing: border-box;
  float: left;
  height: 16px;
  width: 16px;
  background-color: #474747;
}


.board {
  background-color: #E3D4AB;
}

.domino {
  font-weight: bold;
  color: black;
  margin: 0 auto;
  background-color: white;
}
