.boardTable {
  height: 600px;
  margin: 20px auto;
  width: 600px;
  background-color: red;

}

.player1,.player2{
  height: 100px;
  margin: 20px auto;
  padding-top: 20px;
  height: auto;
  width: 240px;
  background-color: blue;
}

.cell-board {
  background-size: contain;
  box-sizing: border-box;
  float: left;
  height: 20px;
  width: 20px;
  background-color: #474747;
}


.board {
  background-color: #E3D4AB;
}

.domino {
  font-weight: bold;
  color: black;
  margin: 0 auto;
  background-color: white;
  border: 1px;
  border-color: black;
  text-align: center;
}

.namePlayer1, .namePlayer2{
  text-align: center;
}

#dominoesPlayer1, #dominoesPlayer2{
  height: 60px;
  background-color: magenta;
}

.dominoTokenP1, .dominoTokenP2{
  float: left;
  height: 60px;
  width: 30px;
  border: 1px;
  border-color: black;
}

.partNumberP1, .partNumberP2{
  float: left;
  height: 30px;
  width: 30px;
}


.cell-player1,.cell-player2{
  float: left;
  height: 30px;
  width: 30px;
  border: 1px;
  border-color: black;

}

.turn {
  background-color: red;
}
